@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --text: #fcfbfe;
  --background: #020104;
  --primary-button: #8e43fe;
  --secondary-button: #200024;
  --accent: #eb43fe;
}

body {
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

/* header */

header {
  height: 350px;
  background-image: linear-gradient(var(--background), var(--background), var(--primary-button));
}

a {
  text-decoration: none;
}

.headertext {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100vw;
  height: 100%;
  line-height: 350px;
  text-align: center;
  font-size: 100px;
  letter-spacing: -4px;
  /* gradiant */
  background-color: var(--accent);
  background-image: linear-gradient(to right, var(--primary-button), var(--accent));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* nav */

.nav-flex {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;
}

.navlink {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: var(--text);
}

.navlink1 {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: var(--text);
}

.navlink2 {
  display: none;
}

.navlink:hover {
  text-decoration: underline;
}

.navlink2:hover {
  text-decoration: underline;
}

.navlink4 {
  background-color: var(--primary-button);
  border-radius: 7px;
  transition: box-shadow ease 0.2s;
}

.navlink4:hover {
  box-shadow: 0 20px 80px -10px var(--primary-button);
}

/* main */

main {
  padding-left: 10%;
  padding-right: 10%;
}

.centertext {
  margin: auto;
  margin-top: 48px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.card {
  margin-top: 24px;
  margin-bottom: 48px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 7px;
  height: 350px;
  padding: 24px;
  width: 33%;
}

.icon {
  font-size: 150px;
  color: var(--primary-button);
  width: 100%;
  text-align: center;
  height: 120px;
  fill: var(--primary-button);
}

.cardh1 {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.cardp {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.href {
  color: var(--text);
  text-decoration: underline;
}

/* contact */

.contactform {
  background-color: var(--secondary-button);
  border-radius: 7px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: var(--text);
  border: solid var(--primary-button);
  margin-top: 48px;
  margin-bottom: 48px;
}

.formtitle {
  margin-bottom: 24px;
}

.contactinput {
  color: var(--text);
  background-color: var(--background);
  padding: 8px;
  border-radius: 7px;
  border: solid var(--primary-button);
  margin-bottom: 18px;
}

.message {
  height: 200px;
  resize: vertical;
}

.contactsubmit {
  background-color: var(--primary-button);
  border-radius: 7px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: var(--text);
  border: none;
  transition: box-shadow ease 0.2s;
  margin: auto;
}

.contactsubmit:hover {
  text-decoration: underline;
  box-shadow: 0 20px 80px -10px var(--primary-button);
}

.contactpagegrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  gap: 2%;
}

.contactinfo {
  position: relative;
  background-color: var(--secondary-button);
  border-radius: 7px;
  width: 80%;
  margin: auto;
  padding: 30px;
  color: var(--text);
  border: solid var(--primary-button);
  margin-top: 48px;
  margin-bottom: 48px;
}

.icons {
  color: var(--primary-button);
  font-size: 50px;
  width: 60px;
}

.iconsdiv {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  line-height: 50px;
}

.sociallink {
  text-decoration: none;
  color: var(--text);
  width: 80px;
  height: 100%;
}

.textlink {
  color: var(--text);
}

.textlink:hover {
  text-decoration: underline;
}

.socialbutton {
  float: left;
  border-radius: 50%;
  background-color: var(--background);
  width: 80px;
  height: 80px;
  transition: box-shadow ease 0.2s;
}

.socialbutton:hover {
  box-shadow: 0 20px 80px -10px var(--primary-button);
}

.socialicon {
  font-size: 50px;
  color: var(--primary-button);
  text-align: center;
  width: 100%;
  position: relative;
  top: 15px;
}

.socialdiv {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  justify-content: center;
  gap: 24px;
}

/* Mijn Projecten */

.flex2 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  gap: 8%;
  margin-bottom: 48px;
}

.card2 {
  background-color: var(--primary-button);
  border-radius: 7px;
  height: auto;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 48px;
  padding: 24px;
  color: inherit;
  transition: box-shadow ease 0.2s;
}

.card2:hover {
  box-shadow: 0 20px 80px -10px var(--primary-button);
}

.card2h1 {
  text-align: center;
  margin-top: 24px;
  width: 100%;
}

.card2img {
  width: 100%;
}

/* titlebox */

.titlebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 48px;
}

.titlebox:hover {
  cursor: pointer;
}

#uparrow {
  display: none;
  font-size: 24px;
}

#downarrow {
  font-size: 24px;
  display: none;
}

.centertext2 {
  text-align: center;
}

/* Project */

.projectimg {
  width: 100%;
}

.projectbutton {
}

.btndiv {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 2%;
}

/* ______________ pop up _____________ */

/* --------------------------  logo animation  ----------------------------- */
